/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    font-size: 60%;
  }
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
body {
  padding-top: 98px;
}
@media (max-width: 500px) {
  body {
    padding-top: 84px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.container section img {
  transition: transform 0.5s;
  animation-name: fadein;
  animation-duration: 3s;
}
.container section img:hover {
  transform: scale(0.95);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mainNav {
  background-color: rgba(246, 246, 246, 0.85);
  font-family: #454A59;
  border-bottom: 1px solid #F1F1F1;
  position: fixed;
  width: 100%;
  top: 0;
}
.mainNav .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainNav .container h1 {
  font-size: 4rem;
  padding: 1% 0;
}
.mainNav .container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 4px;
}
@media (max-width: 500px) {
  .mainNav .container nav {
    width: 80%;
  }
}
.mainNav .container nav a {
  padding: 1rem 0;
  text-decoration: none;
  color: #23293B;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .mainNav .container nav a {
    font-size: 1.4rem;
  }
}
.home .intro {
  padding: 20px 0;
}
.home .intro img {
  border-radius: 5px;
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images .blast {
    width: 90%;
    margin: 12px auto;
  }
  .home .space-images .sky,
  .home .space-images .launch {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 0;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  background-color: #22283A;
  color: #F6F6F6;
  width: 120px;
  border: 1px solid #F1F1F1;
  border-radius: 0.6rem;
  padding: 1.2rem;
  text-align: center;
  font-size: 2rem;
}
.home .walk .walk-text .btn:hover {
  background-color: #5E6164;
  color: #F6F7F8;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
    padding: 16px 0;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 10px auto;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.home .content-form {
  padding: 30px 0;
  border-top: 1px solid #dee2e6;
}
@media (max-width: 500px) {
  .home .content-form {
    width: 90%;
    margin: 0 auto;
  }
}
.home .content-form h4 {
  font-size: 3rem;
}
.home .content-form input,
.home .content-form select,
.home .content-form textarea {
  border: none;
  background-color: #a8b1cc;
  color: #454A59;
  font-size: 1.6rem;
  padding: 0.5rem 0;
}
.home .content-form form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .home .content-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .home .content-form form div {
    width: 100%;
  }
}
.home .content-form form input[type="text"],
.home .content-form form select,
.home .content-form form textarea {
  padding: 2% 0;
  text-indent: 1.6rem;
}
@media (max-width: 500px) {
  .home .content-form form input[type="text"],
  .home .content-form form select,
  .home .content-form form textarea {
    width: 100%;
    margin: 2% 0;
    border-radius: 5px;
  }
}
.home .content-form .btn {
  background-color: #22283A;
  color: #F6F6F6;
  width: 120px;
  border: 1px solid #F1F1F1;
  border-radius: 0.6rem;
  padding: 1.2rem;
  text-align: center;
  font-size: 2rem;
}
.home .content-form .btn:hover {
  background-color: #5E6164;
  color: #F6F7F8;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .content-form .btn {
    width: 100%;
  }
}
.home .content-form .formText {
  width: 100%;
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .home .content-form .formText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.home .content-form .formText input {
  width: 30%;
}
@media (max-width: 500px) {
  .home .content-form .formText input {
    width: 100%;
  }
}
.home .content-form .formTextarea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home .content-form .formTextarea textarea {
  width: 100%;
}
.home .content-form .formSubmit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 2% 0;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
